body {background-color: #eecd86;
background-image: url(../Imagenes/fondo2.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-position: 50% 50%;
}
.marron {color: #b95835; text-decoration: underline; text-align: center }
texto1 {font-size: 125%; }
.tamaño {width: height; }

header {background-color: orange}
nav {background-color: yellow}
section {background-color: blue}
aside {background-color: brown}
footer {background-color: white}
.iconowhatsapp {width: 3%;
position: fixed;
bottom: 10px;
right: 15px;}
header {border: 5px black solid;}
